nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #20232A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
}

li,
a {
    font-weight: 500;
    font-size: 16px;
    color: aliceblue ; 
}


.app-name {
    font-size: 20px;
    color: aliceblue ; 
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;

}

.nav-links li a:hover {
    color: #61DAFB;
}