fieldset{
    display: flex;
    justify-content: center;

}

label{
    display: none;
}
img{
    max-width: 150px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

fieldset
{
  background-color:rgb(255, 255, 255);
  max-width:100%;
  padding:30px;	
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0;
}

input {
    width: 100%;
    outline: none;
    font-size: 20px;
    border: 0;
}

.center{
    padding: auto
}